{% extends "layout.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa dolor
          in deleniti sit odit cum rerum optio corporis modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, alias temporibus. Ipsa, doloribus quas. Dolor sit amet consectetur adipisicing elit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, exercitationem! Doloremque nulla, earum libero blanditiis asperiores distinctio, aperiam suscipit fugiat, dignissimos veniam adipisci.
        </p>
        <p>
            Our mission is to provide high-quality web solutions using the power and flexibility of the Django framework. We believe in building robust, scalable, and maintainable applications that meet the unique needs of our users.
        </p>
        <h2>Our Team</h2>
        <ul>
            <li>John Doe - CEO</li>
            <li>Jane Smith - Lead Developer</li>
            <li>Peter Jones - Marketing Manager</li>
        </ul>
        <h2>Our Values</h2>
        <ul>
            <li>Innovation</li>
            <li>Collaboration</li>
            <li>Excellence</li>
            <li>User-centricity</li>
        </ul>
    </section>
</main>
{% endblock %}