{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
        <h1>My Django Project</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>About Us</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsa dolor
              in deleniti sit odit cum rerum optio corporis modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, alias temporibus. Ipsa, doloribus quas. Dolor sit amet consectetur adipisicing elit.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, exercitationem! Doloremque nulla, earum libero blanditiis asperiores distinctio, aperiam suscipit fugiat, dignissimos veniam adipisci.
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 My Django Project. All rights reserved.</p>
    </footer>
  </body>
</html>