{% extends "layout.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>Contact Us</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos illo
          magni laboriosam, voluptatem iusto totam fugit repellendus quo unde sint. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p>
            We'd love to hear from you! Please use the form below to send us a message, or feel free to reach out using the contact information provided.
        </p>

        <h2>Contact Information</h2>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></li>
            <li><strong>Phone:</strong> +91 1234567890</li>
            <li><strong>Address:</strong> 123 Main Street, Anytown, India</li>
        </ul>

        <h2>Send Us a Message</h2>
        <form>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject">
            </div>
            <div>
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea>
            </div>
            <button type="submit" class="button">Send Message</button>
        </form>
    </section>
</main>
{% endblock %}